@font-face {
	font-family: 'stencilla-regular';
	src: url('../font/stencilla-webfont.woff2') format('woff2'),
			 url('../font/stencilla-webfont.woff') format('woff'),
			 url('../font/stencilla.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ITC Lubalin Graph Std';
	src: url('../font/LubalinGraphStd-Demi.eot');
	src: url('../font/LubalinGraphStd-Demi.eot?#iefix') format('embedded-opentype'),
			url('../font/LubalinGraphStd-Demi.woff2') format('woff2'),
			url('../font/LubalinGraphStd-Demi.woff') format('woff'),
			url('../font/LubalinGraphStd-Demi.ttf') format('truetype'),
			url('../font/LubalinGraphStd-Demi.svg#LubalinGraphStd-Demi') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


@tailwind base;
@tailwind components;

.hero-overlay {
	background: url('./img/effect/silkscreen.svg');
	background-size: 4px 4px;
	background-repeat: repeat; 
}

[x-cloak] { 
	display: none; 
}

h1 h2 h3 h4 h5 h6 {
	font-family: 'stencilla-regular';
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'ITC Lubalin Graph Std';
	font-weight: normal;
	font-style: normal;
}



@tailwind utilities;