@font-face {
	font-family: 'rockwell-boldregular';
	src: url('../font/rockweb-webfont.woff2') format('woff2'),
			 url('../font/rockweb-webfont.woff') format('woff'),
			 url('../font/rockweb.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'stencilla-regular';
	src: url('../font/stencilla-webfont.woff2') format('woff2'),
			 url('../font/stencilla-webfont.woff') format('woff'),
			 url('../font/stencilla.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

@tailwind base;
@tailwind components;

:root {
  --tmulta-red: #da291c;
}

h1 h2 h3 h4 h5 h6 {
	font-family: 'stencilla-regular';
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'rockwell-boldregular';
	font-weight: normal;
	font-style: normal;
}

.tmulta-red-border-color {
	border-color: var(--tmulta-red);
}

.tmulta-red-background-color {
	background-color: var(--tmulta-red);
}

.tmulta-red-text-color {
	color: var(--tmulta-red);
}

@tailwind utilities;